.game-input {
    width: 10%;
    height: 25px;
}

.submit-button {
    width: 10%;
    height: 31px;
    margin-top: 5px;
    margin-right: 5px;
    background: #000000;
    color: #FFFFFF;
}

.reset-button {
    width: 5%;
    height: 31px;
    margin-top: 5px;
    background: #FFFFFF;
    color: #000000;
}